:root {
    --body-background-color: rgb(var(--base-r), var(--base-g), var(--base-b));
    --body-font-color: rgb(var(--font-r), var(--font-g), var(--font-b));

    --is-light: 0;

    --foot-background-k: 0.8;
    /* --foot-background-k: calc(var(--is-light) * (1/0.8) - calc(var(--is-light) - 1) * 0.8); */
    --foot-background-a: 0.9;
    --foot-background-color: rgba(calc(var(--base-r) * var(--foot-background-k)), calc(var(--base-g) * var(--foot-background-k)), calc(var(--base-b) * var(--foot-background-k)), var(--foot-background-a));
    
    --foot-shadow-k: 0.9;
    /* --foot-shadow-k: calc(var(--is-light) * (1/0.9) - calc(var(--is-light) - 1) * 0.9); */
    --foot-shadow-a: 0.25;
    --foot-shadow-color: rgba(calc(var(--base-r) * var(--foot-background-k) * var(--foot-shadow-k)), calc(var(--base-g) * var(--foot-background-k) * var(--foot-shadow-k)), calc(var(--base-b) * var(--foot-background-k) * var(--foot-shadow-k)), var(--foot-shadow-a));
    
    --foot-border-k: 0.75;
    /* --foot-border-k: calc(var(--is-light) * (1/0.75) - calc(var(--is-light) - 1) * 0.75); */
    --foot-border-a: 0.6;
    --foot-border-color: rgba(calc(var(--base-r) * var(--foot-background-k) * var(--foot-border-k)), calc(var(--base-g) * var(--foot-background-k) * var(--foot-border-k)), calc(var(--base-b) * var(--foot-background-k) * var(--foot-border-k)), var(--foot-border-a));

    --content-background-k: 1.1;
    /* --content-background-k: calc(var(--is-light) * (1/1.1) - calc(var(--is-light) - 1) * 1.1); */
    --content-background-color: rgb(calc(var(--base-r) * var(--content-background-k)), calc(var(--base-g) * var(--content-background-k)), calc(var(--base-b) * var(--content-background-k)));
    
    --content-shadow-k: 0.72;
    /* --content-shadow-k: calc(var(--is-light) * (1/0.72) - calc(var(--is-light) - 1) * 0.72); */
    --content-shadow-a: 0.5;
    --content-shadow-color: rgba(calc(var(--base-r) * var(--content-background-k) * var(--content-shadow-k)), calc(var(--base-g) * var(--content-background-k) * var(--content-shadow-k)), calc(var(--base-b) * var(--content-background-k) * var(--content-shadow-k)), var(--content-shadow-a));


    --header-gradient-top: rgb(calc(var(--base-r) + 5), calc(var(--base-g) + 5), calc(var(--base-b) + 5));
    --header-gradient-bottom: rgb(calc(var(--base-r) - 5), calc(var(--base-g) - 5), calc(var(--base-b) - 5));

    --content-hover-k: calc(var(--is-light) * (1/1.3) - calc(var(--is-light) - 1) * 1.3);
    --content-hover-a: 0.9;
 
    --content-hover-color: rgba(calc(var(--base-r) * var(--content-hover-k)), calc(var(--base-g) * var(--content-hover-k)), calc(var(--base-b) * var(--content-hover-k)), var(--content-hover-a));

    --button-background-color: rgb(var(--button-r), var(--button-g), var(--button-b));
    --button-icon-background-k: calc(var(--is-light) * (1/0.7) - calc(var(--is-light) - 1) * 0.7);
    --button-icon-background-color: rgb(calc(var(--button-r) * var(--button-icon-background-k)), calc(var(--button-g) * var(--button-icon-background-k)), calc(var(--button-b) * var(--button-icon-background-k)));

    --blackout-color: rgba(0, 0, 0, var(--blackout-alpha));
    --blackout-shadow-color: rgb(10, 10, 10);

    --border-k: 0.33;
    /* --border-k: calc(var(--is-light) * (1/0.33) - calc(var(--is-light) - 1) * 0.33); */

    --border: rgb(calc(var(--base-r) * var(--border-k)), calc(var(--base-g) * var(--border-k)), calc(var(--base-b) * var(--border-k)));
    --border-hover: rgba(calc(var(--base-r) * var(--border-k) * var(--content-hover-k)), calc(var(--base-g) * var(--border-k) * var(--content-hover-k)), calc(var(--base-b) * var(--border-k) * var(--content-hover-k)),  var(--content-hover-a));
    --ident: 20px;
    --left: calc(-1 * var(--ident));
}

/* General style */
body {
    margin: 0;

    background: var(--body-background-color);
    color: var(--body-font-color);

    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Agency FB';
    src: url(fonts/AgencyFB-Bold.ttf);
}

a {
    text-decoration: none;
    color: var(--body-font-color);
}

input {
    background-color: white !important;
    border-radius: 4px;
}

input.file-input {
    background-color: transparent !important;
}

h1 {
    margin: 0px 4px 4px 0px;
    font-size: 28px;
}
h2 {
    margin: 4px;
    font-size: 20px;
}

/* Scrollbars */

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 12px;
    margin: 12px;
}

::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--border-hover);
    border-radius: 12px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

* {
    scrollbar-color: var(--border-hover) transparent;
}
/* Стиль кнопок */
.button-icon {
    background-color: var(--button-icon-background-color);
    padding: 0.5em;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-flex;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    height: fit-content;
}

.button-icon div {
    display: inline-block;
}

.button, button.no_answer,
button.ok, button.partial,
button.wrong, button {
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    height: fit-content;
}

.button, button {
    background-color: var(--button-background-color);
    color: var(--dark-font-color);

    box-shadow: 2px 2px 2px var(--foot-shadow-color);
    align-items: center;
    display: inline-flex;
}

.button * {
    display: inline-block;
    align-self: center;
}

input:disabled {
    border: none;
    color: currentColor;
    background-color: transparent !important;
}

/* Стиль отметки сделанных работ */
a.no-answer {
    color: var(--body-font-color);
    background: var(--menu-background-color);
}

button.no-answer {
    background: var(--no-answer-background-color);
    color: var(--dark-font-color);
}

button#choosed {
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.4);
}

button#non-choosed {
    box-shadow: inset 0px 3px 0px rgba(255, 255, 255, 0.4);
}

.correct, .partial,
.wrong {
    color: var(--dark-font-color);
}

.correct {
    background: var(--correct-color);
    color: var(--dark-font-color);
}

.unchecked {
    background: var(--unchecked-color);
    color: var(--dark-font-color);
}

.wrong {
    background: var(--wrong-color);
}

form.dropdown-toggle-form {
    position: relative;
    align-self: baseline;
    width: max-content;
}

.dropdown-content {
    overflow: hidden;
    display: none;
    padding: 4px 0 4px 0;
    margin: 0;

    background-color: var(--foot-background-color);
    border: 1px solid var(--foot-border-color);
    border-radius: 0px 0px 12px 12px;
    box-shadow: 4px 4px 4px var(--foot-shadow-color);
}

#user-options {
    justify-self: end;
    align-self: flex-start;
}

.dropdown-content hr {
    display: block;
    padding: 0;
}

.dialog-table {
    border-radius: 12px;
    padding: 4px;
    background-color: var(--content-background-color);

    position: absolute;
    top: 24px;
    max-height: calc(100% - 48px);
    overflow: scroll;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    box-shadow: 4px 4px 4px var(--blackout-shadow-color);
}

.dialog-table::before {
    content: 'x';
    position: relative;
    left: calc(50% - 12px);
    cursor: pointer;
}

#blackout {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    background-color: var(--blackout-color);
    backdrop-filter: blur(1px);
}

.table {
    display: grid;
    grid-template-columns: 50% 50%;
}

.table div {
    width: fit-content;
}

/* file-drop */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
.wrapper *,
.wrapper *:before,
.wrapper *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  font-weight: 400;
  background: transparent;
  color: #323a44;
  min-width: 192px;
  width: min-content;
  max-width: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.drop {
    min-height: 22px;
    height: min-content;
  border: 3px dashed #DADFE3;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  background: white;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  /*&:hover
  * cursor: pointer
  * background: #f5f5f5*/
}

.drop input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: red;
  /* opacity: 0; */
  margin: 0;
  padding: 0;
}

#list {
  width: max-content;
  max-width: 100%;
  display: block;
  text-align: left;
}
#list .thumb {
  height: 75px;
  border: 1px solid #323a44;
  margin: 10px 5px 0 0;
}

/* text highlighting src: https://css-tricks.com/creating-an-editable-textarea-that-supports-syntax-highlighted-code/ */

#ltc-editing, #html-editing,
#ltc-highlighting, #html-highlighting {
    /* Both elements need the same text and space styling so they are directly on top of each other */
    padding: 10px;
    border: 0;
    width: calc(50% - 50px);
    /* height: calc(100% - 80px); */
    height: 217px;
}
#ltc-editing, #html-editing,
#ltc-highlighting, #html-highlighting,
#ltc-highlighting *, #html-highlighting * {
    /* Also add text styles to highlighing tokens */
    font-size: 15pt;
    font-family: monospace;
    line-height: 20pt;
    tab-size: 2;
}


#ltc-editing, #ltc-highlighting {
    /* In the same place */
    position: absolute;
    padding-top: 10px;
    left: 10px;
}

#html-editing, #html-highlighting {
    /* In the same place */
    position: absolute;
    padding-top: 10px;
    left: 50%;
}


/* Move the textarea in front of the result */

#ltc-editing, #html-editing {
    z-index: 1;
}
#ltc-highlighting, #html-highliting {
    z-index: 0;
}


/* Make textarea almost completely transparent */

#ltc-editing, #html-editing {
    color: transparent;
    background: transparent;
    caret-color: white; /* Or choose your favourite color */
}

/* Can be scrolled */
#ltc-editing, #html-editing,
#ltc-highlighting, #html-highlighting {
    overflow: auto;
    white-space: nowrap; /* Allows textarea to scroll horizontally */
}

/* No resize on textarea */
#ltc-editing, #html-editing {
    resize: none;
    white-space: pre;
}

/* Syntax Highlighting from prism.js starts below, partly modified: */

/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism-funky&languages=markup */
/**
* prism.js Funky theme
* Based on “Polyfilling the gaps” talk slides http://lea.verou.me/polyfilling-the-gaps/
* @author Lea Verou
*/

code[class*="language-"],
pre[class*="language-"] {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    padding: .4em .8em;
    margin: 1px 0;
    overflow: auto;
    /* background: url('data:image/svg+xml;charset=utf-8,<svg%20version%3D"1.1"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"100"%20height%3D"100"%20fill%3D"rgba(0%2C0%2C0%2C.2)">%0D%0A<polygon%20points%3D"0%2C50%2050%2C0%200%2C0"%20%2F>%0D%0A<polygon%20points%3D"0%2C100%2050%2C100%20100%2C50%20100%2C0"%20%2F>%0D%0A<%2Fsvg>');
    background-size: 1em 1em; - WebCoder49*/
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .2em;
    border-radius: .3em;
    box-shadow: none;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #aaa;
}

.token.punctuation {
    color: #999;
}

.token.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
    color: #0cf;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
    color: yellow;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.token.variable,
.token.inserted {
    color: yellowgreen;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: deeppink;
}

.token.regex,
.token.important {
    color: orange;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.deleted {
    color: red;
}

/* Plugin styles: Diff Highlight */
pre.diff-highlight.diff-highlight > code .token.deleted:not(.prefix),
pre > code.diff-highlight.diff-highlight .token.deleted:not(.prefix) {
    background-color: rgba(255, 0, 0, .3);
    display: inline;
}

pre.diff-highlight.diff-highlight > code .token.inserted:not(.prefix),
pre > code.diff-highlight.diff-highlight .token.inserted:not(.prefix) {
    background-color: rgba(0, 255, 128, .3);
    display: inline;
}

/* End of prism.js syntax highlighting*/
